body {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: black;
  opacity: 0.95;
  background-attachment: fixed;
  font-family: 'Star Jedi', arial;
  color: black;
  background-size: cover;

  
}

img {
  width:90%;
}

.aboutUsDescriptionText{
color: greenyellow;

}

#ProfileSection {
  width: 100%;
  height: 850px;
  margin-top: 55px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 210px;
  height: 800px;
  margin: 10px;
  
  text-align: center;
  float: left;
  background: black;
  color: greenyellow;
  opacity: 0.80;
  border: grey solid 1px;
  box-shadow: 4px 4px black;
}

.title {
  color: grey;
  font-size: 18px;
  font-family: 'Star Jedi', arial;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;

}

button:hover, a:hover {
  opacity: 0.7;
}