body {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: black;
  opacity: 0.95;
  background-attachment: fixed;
  font-family: 'Star Jedi', arial;
  color: black;
  background-size: cover;

  
}

.aboutUsDescriptionText{
color: greenyellow;
margin-bottom: 20px;

}

#ProfileSection {
  margin-left: 15px;
  text-align: center;
  height: 900px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 210px;
  height: 90%;
  margin: 10px;
  margin-top: 55px;
  text-align: center;
  display: inline-block;
  background: black;
  color: greenyellow;
  opacity: 0.80;
  border: grey solid 1px;
  box-shadow: 4px 4px black;
  background-size: 100% 100%;
  vertical-align: center;
  float: left;
}



.title {
  color: grey;
  font-size: 18px;
}

img {
  width: 90%;
  margin-bottom: 5%;
}

#linkedin {
  width: 30px;
  background-color: black;
  bottom: 0%;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;

}

button:hover, a:hover {
  opacity: 0.7;
}

p {
  max-height: 800px;
  margin: 5px 0;
}
