/* body {
    width: 960px;
    margin: auto;
    background-color: black;
    color: goldenrod;
} */

#instructions-user{
  border: 2px goldenrod solid;
  padding: 20px;
  margin: 20px;
  font-size: 30px;
}

#button-instruction:hover {
  background-color: white;
}
#button-script:hover {
  background-color: white;
}

#button-instruction {
  background-color: green;
  font-family: monospace;
  margin-bottom: 20px;
  border-radius: 0;
  font-size: 10px;
  width: 100px;
  height: 50px;
}

#button-script {
  background-color: red;
  font-family: monospace;
  border-radius: 0;
  font-size: 10px;
  width:100px;
  height:50px;

}

#instruction-container {
    width: 85%;
    margin: 50px 50px 50px 50px;
    padding: 30px 30px 30px 30px;
    text-align: center;
    display: inline-block;
    border: goldenrod 5px solid;
    overflow: hidden;
}

#instructions {
    width: 45%;
    font-family: 'Star Jedi', arial;
    text-shadow: 4px 4px 4px #aaa;
    font-size: xx-large;
    padding: 20px 20px 20px 20px;
    border: goldenrod 5px solid;
    display: inline-block;
}

#game-instructions {
    float: center;
    font-display: inline-block;
    margin: 30px 30px 30px 30px;
    padding: 50px 50px 50px 50px;
    border: goldenrod 5px solid;
    color: goldenrod;
    font-size: large;
}

#form-container {
    align-content: center;
    text-align: center;
    margin: auto;
}

#button-container {
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

button {
    background-color: goldenrod;
    border: goldenrod;
    border-radius: 12px;
    color: black;
    font-size: xx-large;
    width: 200px;
    height: 100px;
}

button:hover {
    background-color: rgb(175, 19, 5);
    border: rgb(175, 19, 5);
    border-radius: 12px;
    color: black;
    font-size: xx-large;
    width: 200px;
    height: 100px;
}


.star-warss {
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 420%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -5000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  .fade {
    position: relative;
    width: 100%;
    min-height: 20vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
    margin-top: -5px;
  }