/*using this for play.html*/

.lightsaber {
    margin-top: 100px;
    padding: 50px 200px;
    display: inline-block;
    border: 1px black solid;
}

main {
    text-align: center;
}
body {
    width:960px;
    margin: 0 auto;
}

#imagebox{
    border: 2px black solid;
   
}

#question-box {
    border: 1px black solid;
    padding: 50px 100px;
}

#question-image {
    width: 600px;
}



#button-a {
    margin: 50px 0px;
    margin-right: 130px;
    width: 320px;
    padding: 50px 0px;
    border: 1px black solid;
    display: inline-block;
    border-radius: 10px;

}

#button-a:hover {
    box-shadow: 10px;
}

#button-b {
    margin: 50px 0px;
    margin-left: 130px;
    padding: 50px 0px;
    width: 320px;
    border: 1px black solid;
    display: inline-block;
    border-radius: 10px;
}





