/*using this for play.html*/

.lightsaber {
    margin-top: 100px;
    padding: 50px 200px;
    display: inline-block;
    border: 1px black solid;
}

main {
    text-align: center;
}
body {
    width:960px;
    margin: 0 auto;
}

#imagebox{
    border: 2px black solid;
    padding: 300px 390px;
    margin: 30px 0px;
}

#question-box {
    border: 1px black solid;
    padding: 50px 100px;
}


#button-a {
    margin: 50px 0px;
    margin-right: 130px;
    width: 320px;
    padding: 50px 0px;
    border: 1px black solid;
    display: inline-block

}

#button-b {
    margin: 50px 0px;
    margin-left: 130px;
    padding: 50px 0px;
    width: 320px;
    border: 1px black solid;
    display: inline-block;
}





