/*using this for play.html*/


main {
    text-align: center;
}
body {
    width:960px;
    margin: 0 auto;
}

#imagebox{
    margin-bottom: 50px;
}

#counter {
    margin: 0 auto;
    margin-top: 40px;
    border: 1px black solid;
    height: 30px;
    width: 700px;
    margin-bottom:20px;
    border-radius: 15%;
}

#red {
    width:400px;
    height: 28px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px black solid;
	display: inline-block;
	
}

#green {
    width:400px;
    height: 28px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px black solid;
    display: inline-block;
}

#handle {
    display:inline-block;
    /* left:45%; */
    width:45px;
    /* background-color: gray; */
    height:28px;
    vertical-align: center;
    background-image: radial-gradient( red 40%, gray 50%);
	border-radius: 5px;
	border: 1px black solid;
	border-left: 5px black solid;
	border-right: 5px black solid;
}

#red-counter4 {
    border-radius:  40% 0 0 40%;
}

#green-counter4 {
    border-radius: 0 40% 40% 0;
}

#green div {
    display: inline-block;
    width: 25%;
    height:85%;
    margin-top: 2px;
    background-image: linear-gradient(green, white, green);
	float: left;
}



#red div {
    display: inline-block;
    width: 25%;
    height:85%;
    margin-top: 2px;
    background-image: linear-gradient(red, white, red);
	float: right;
	/* border-top: 3px red solid;
	border-bottom:  3px red solid; */
}


#question-box {
    border: 1px black solid;
    padding: 50px 100px;
	font-size: 30px;
	font-family: 'Play', sans-serif;
}

#question-image {
    width: 700px;
	vertical-align: center;
	/* border: 2px solid black; */
	margin-top: 10px;
}

#answer {
	font-size: 25px;
	border: 1px solid black;
	padding: 10px 0;
	font-family: 'Play', sans-serif;
}

#button-box {
	margin: 50px 0;
}


#button-a {
    font-size: 20px;
    margin: auto 0px;
    margin-right: 130px;
    width: 320px;
    padding: 50px 0px;
    border: 1px black solid;
    display: inline-block;
    border-radius: 10px;
	background-color: black;
	color: white;
	font-family: 'Play', sans-serif;
}

#button-a:hover {
	box-shadow: 2px -2px 5px 5px;
	color: #FFE81F;
}

#button-b {
    font-size: 20px;
    margin: auto 0px;
    margin-left: 130px;
    padding: 50px 0px;
    width: 320px;
    border: 1px #FFE81F solid;
    display: inline-block;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-family: 'Play', sans-serif;
	
}

#button-b:hover {
	box-shadow: 2px -2px 5px 5px;
	color: #FFE81F;
}

#high-score > h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

table {
margin: 0 auto;
}

th {
	font-weight: bold;
	font-size: 25px;
	padding: 2px 10px;
}

td {
	font-size: 25px;
}
