
body {
    background-color: black;
    color: white;
    font-family: 'Star Jedi', arial;

}

header {
    position: fixed;
    width: 100%;

}

.logo {
    display: inline-flex;
    margin-left: 37%;
}

.topnav {
    background-color: goldenrod;
    border: 1px solid black;
    border-width: 1px 0;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    
}

.topnav li {
    display: inline;
    padding-right: 5em;
    padding-left: 5em;
    font-size: 20px;
    margin: 0;

}

.topnav a {
    display: inline-block;

}

.activePage {
    all: unset;
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
}

.topnav a:link {
    color: white;
}

.topnav a:visited {
    color:green;
}

.topnav a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.topnav a:active {
    color: black;
}

.starHuntLogo {
    display: block;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
			
			/*
			 * == lightsaber Styles
			 */
			 
			#lightsaber {
				width:50px;
				margin:auto;
				line-height:0;
				padding:0px;
				text-align:center;
			}
            #lightsaber span { display:inline-block; }
            
            #light {
				/* position:relative; */
				width:14px;
				background:#F00;
				height:200px;
				border-radius:7px 7px 2px 2px;
				box-shadow:0 0 5px #F00,0 0 8px #F00,0 0 12px #F00,0 0 15px red,0 0 25px red;
				z-index:5;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				transition: all 1s;
			}
			
			#light2 {
				/* position:relative; */
				width:14px;
				background:#00FF00;
				height:200px;
				border-radius:7px 7px 2px 2px;
				box-shadow:0 0 5px #00FF00,0 0 8px #00FF00,0 0 12px #00FF00,0 0 15px green,0 0 25px green;
				z-index:6;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				transition: all 1s;
            }
            

			#guard { width: 90%; }
			#guard span,
			#handlestart span,
			#handle span:nth-child(2n+1),
			#handle .long + .long {
				width: 100%;
				height: 1px;
				background-color: rgb(177, 177, 177);
				background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
				background-image: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
				background-image: linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0.85) 35%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.2) 55%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0.65) 100%);
				box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset,0 -1px 1px rgba(255,255,255,0.4) inset;
				border-radius: 0 0 2px 2px;
            }
    

			#guard span + span {
				width: 82%;
				height: 6px;
				box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(255,255,255,0.4) inset;
			}
			#guard span + span + span {
				width: 76%;
				height: 7px;
				box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(255,255,255,0.4) inset;
			}
			#guard span + span +span + span {
				width: 65%;
				height: 4px;
			}
			#guard span + span +span + span + span {
				width: 40%;
				height: 6px;
				box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset,0 -1px 2px rgba(0,0,0,0.4) inset;
			}
			
			#handlestart { width: 100%; }
			#handlestart span {
				width: 90%;
				height: 6px;
				border-radius: 50% 50% 0 0;
			}
			#handlestart span + span {
				width: 75%;
				height: 2px;
			}
			
			#handle { width: 77%; }
			#handle span:nth-child(2n+1) {
				width: 95%;
			}
			#handle span:first-child {
				width: 50%;
				height: 7px;
				background: -webkit-linear-gradient(left, #000, #333 58%, #000 85%, #000);
				background: -moz-linear-gradient(left, #000, #333 58%, #000 85%, #000);
				background: linear-gradient(left, #000, #333 58%, #000 85%, #000);
				box-shadow: 0 0 0;
			}
			#handle span:first-child + span,
			#handle span:nth-child(2n+2) {
				width: 75%;
				height: 6px;
				background: -webkit-linear-gradient(left, #000, #333 58%, #000 85%, #000);
				background: -moz-linear-gradient(left, #000, #333 58%, #000 85%, #000);
				background: linear-gradient(left, #000, #333 58%, #000 85%, #000);
				border-radius: 3px 3px 0 0;
			}
			#handle span:nth-child(2n+2) {
				width: 100%;
				height: 4px;
				border-radius: 0;
			}
			#handle span.long,
			#handle .long + .long {
				height: 20px;
				border-radius: 0;
				box-shadow: 0 -1px 2px rgba(0,0,0,0.5) inset, 0 -1px 5px rgba(0,0,0,0.5) inset;
			}
			#handle .long + .long {
				height: 15px;
				width: 100%;
				background-position: 2px 0;
			}
			#handle span.box {
				position: absolute;
				top:121px;left:50%;
				/* height: px; */
				width: 20px;
				margin-left:-12px;
				background: -moz-linear-gradient(#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15,#4b3222,#2c1e15);
				box-shadow: 0 0 10px rgba(0,0,0,0.9) inset, 0 3px 3px -3px rgba(0,0,0,1);
				z-index: 5;
			}
			
			.light { 
				position: absolute;
				left: 12px; top:0; bottom:-12px; right:12px;
				background: rgba(0, 0, 255, 0.05);
    			box-shadow: 0 0 12px rgba(0, 0, 255, 0.2);
    			-webkit-transition: all .8s;
    			-moz-transition: all .8s;
    			transition: all .8s;
			}

			.wings {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 30px;
			}
			.wing {
				position: absolute;
				background: #4B3222;
				width: 12px;
				height: 16px;
				bottom: 100%;
				box-shadow: 0 0 14px rgba(0,0,0,0.3) inset, 0 0 6px rgba(0,0,0,0.3) inset;
			}
			.wing:before {
				position: absolute;
				content: "";
				top: -15px; left: 0;
				height: 10px;
				width: 0;
				border-left:12px #312116 solid;
				border-right:5px transparent solid;
				border-top:5px transparent solid;
			}
			.wing1 {
				right: -6px;
			}
			.wing2 {
				right: 50%;
				margin-right: -2px;
				width: 4px;
			}
			.wing2:before {
				height: 14px;
				width: 4px;
				top: -14px;
				background: #312116;
				border: 0 none;
			}
			.wing3 {
				left: -6px;
			}
			.wing3:before {
				border-right:12px #312116 solid;
				border-left:0 none;
			}
					

            #lightsaber2 {
				width:50px;
				margin:auto;
				line-height:0;
				padding:0px;
				text-align:center;
			}
			#lightsaber2 span { display:inline-block; }

footer {
    border-top: goldenrod solid 2px;
    text-align: center;

}
