div.avatar_picker {
    background: #151515
}

div.avatar_picker:before {
    display: none
}

div.avatar_picker a#avatar_close_button {
    width: 28px;
    height: 28px;
    background-color: #555;
    background-image: none;
    border-radius: 50%;
    cursor: pointer
}

div.avatar_picker a#avatar_close_button:before, div.avatar_picker a#avatar_close_button:after {
    content: "";
    height: 15px;
    width: 15px;
    border-top: 1px solid #fff;
    position: absolute;
    top: 11px;
    /* -webkit-transform: rotate(-45deg); */
    /* -moz-transform: rotate(-45deg); */
    /* -ms-transform: rotate(-45deg); */
    /* -o-transform: rotate(-45deg); */
    /* transform: rotate(-45deg) */
}

div.avatar_picker a#avatar_close_button:before {
    right: 11px !important
}

div.avatar_picker a#avatar_close_button:after {
    right: 0 !important
}

div.avatar_picker a#avatar_close_button:before {
    right: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

div.avatar_picker #choose_label {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase
}

div.avatar_picker #no_avatar_button, div.avatar_picker #submit_button {
    font-size: 0.875em;
    height: auto;
    padding: 10px 6px 8px;
    text-shadow: none;
    text-transform: uppercase;
    border: 0
}

div.avatar_picker #no_avatar_button {
    background-color: #424242;
    color: #fff
}

div.avatar_picker #submit_button {
    background-color: #e8da07;
    color: #424242
}

div.avatar_picker .page_indicator {
    font-size: 0.688em;
    color: #fff;
    background: none;
    border: 0
}

div.avatar_picker img.selected_avatar {
    border: 1px solid #343434
}

div.avatar_picker div.selected_overlay {
    border: 3px solid #e8da07
}

div.avatar_picker img.avatar_selection {
    border: 1px solid #343432
}

div.avatar_picker div.avatar_scroll_container, div.avatar_picker div.list-spinner {
    border: 1px solid #343432
}

div.avatar_picker img.avatar_selection:hover {
    opacity: 0.8
}

div.avatar_picker a.prev_page.disabled, div.avatar_picker a.next_page.disabled, div.avatar_picker a.prev_page, div.avatar_picker a.next_page {
    cursor: pointer;
    text-decoration: none
}

div.avatar_picker a.next_page {
    background-image: url(https://static-mh.content.disney.io/starwars/assets/avatars/avatar_next_btn-4fdc777d8e6f.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    div.avatar_picker a.next_page {
        background-image: url(https://static-mh.content.disney.io/starwars/assets/avatars/avatar_next_btn@2x-4fdc777d8e6f.png)
    }
}

div.avatar_picker a.prev_page {
    background-image: url(https://static-mh.content.disney.io/starwars/assets/avatars/avatar_prev_btn-3b0498d9e061.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    div.avatar_picker a.prev_page {
        background-image: url(https://static-mh.content.disney.io/starwars/assets/avatars/avatar_prev_btn@2x-3b0498d9e061.png)
    }
}

div.avatar_picker a.prev_page.disabled, div.avatar_picker a.next_page.disabled {
    opacity: 0.5
}

@media screen and (max-width: 688px) and (orientation: portrait) {
    div.avatar_picker {
        top: 14px
    }
    div.avatar_picker a#no_avatar_button, div.avatar_picker a#submit_button {
        width: 80px
    }
    div.avatar_picker a#no_avatar_button {
        left: 20px
    }
    div.avatar_picker a#submit_button {
        left: 206px
    }
}

@media screen and (max-height: 724px) and (orientation: landscape) {
    div.avatar_picker a#no_avatar_button, div.avatar_picker a#submit_button {
        padding: 10px 0 6px
    }
    div.avatar_picker a#no_avatar_button {
        left: 327px
    }
    div.avatar_picker a#submit_button {
        left: 447px
    }
}

@media screen and (min-height: 725px) and (min-width: 689px) {
    div.avatar_picker {
        top: 14px;
        background-image: url(https://static-mh.content.disney.io/starwars/assets/sw_id/sw_avatar_bg-20a0ba0322fa.png);
        background-size: 661px auto;
        background-repeat: no-repeat
    }
}

@media only screen and (min-height: 725px) and (min-width: 689px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-height: 725px) and (min-width: 689px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-height: 725px) and (min-width: 689px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-height: 725px) and (min-width: 689px) and (min-resolution: 125dpi), only screen and (min-height: 725px) and (min-width: 689px) and (min-resolution: 1.3dppx) {
    div.avatar_picker {
        background-image: url(https://static-mh.content.disney.io/starwars/assets/sw_id/sw_avatar_bg@2x-30d340f1a665.png)
    }
}

@media screen and (min-height: 725px) and (min-width: 689px) {
    div.avatar_picker #no_avatar_button, div.avatar_picker #submit_button {
        font-size: 0.875em;
        padding: 14px 0 13px;
        line-height: 1
    }
}